{% extends 'base.html' %}
{% load static %}

{% block extCSS %}
    <link rel="stylesheet" href="{% static 'app/user/login.css' %}">
{% endblock %}

{% block extJS %}
    <script src="{% static 'app/user/login.js' %}"></script>
{% endblock %}


{% block header %}
    <header>
        <div>登录</div>
    </header>
{% endblock %}


{% block content %}

 <div class="container">

        <form method="post" action="{% url 'axf:loginhandle' %}">
            {% csrf_token %}

            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" id="username" name="username" placeholder='请输入用户名'/>
            </div>
            {% if status == 0 %}
               <p style="color: #b0265a">{{ msg }}</p>
            {% endif %}

            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码"/>
            </div>

            <input type="submit" class="btn btn-success" value="登录" id="login">

        </form>

    </div>
{% endblock %}





